<!-- TODO: Expressioon editor -->
    <!-- Opis okna głównego: elementy, menu, pasek narzędzi, itp. -->
	
<h1>Main window</h1>
<img src="img/mainWindow.png">
<h3 id="toolbar">Toolbar</h3>
In this bar you can find:
<li> Close HQEd - button for exiting application,</li>
<li> Blank - button for create new blank project,</li>
<li> Open - button for opening *.hml files,</li>
<li> Save - button for saving changes in you project,</li>
<li> Close model - button for closing your model,</li>
<li> Export Scene to SVG file - button for exporting your project to Scalable Vector Graphic,</li>
<li> Print - Printing view of your model,</li>
<li> Print Setup - open preferences for printer,</li>
<li> <a href=#typemanager>Type manager</a> - this button open Type manager window,</li>
<li> <a href=#newattribute>New attribute</a> - this button open Attribute editor window, and creates new attribute,</li>
<li> <a href=#editattribute>Edit attribute</a> - this button open Attribute editor window, and editing selected attribute,</li>
<li> <a href=#deleteattribute>Delete attribute</a> - this button open Delete attribute window,</li>
<li> <a href=#newattribute>New attribute</a> - this button open Attribute editor window, and creates new attribute,</li>
<li> <a href=#unusedattribute>Unused attribute</a> - this button open Unused attribute window,</li>
<li> <a href=#attributemanager>Attribute manager</a> - this button open Attribute manager window,</li>
<li> <a href=#groupmanager>Group manager</a> - this button open Group manager window,</li>
<li> <a href=#newtable>New table</a> - this button open Table editor window, and creates new table,</li>
<li> <a href=#edittable>New table</a> - this button open Table editor window, and editing selected table,</li>
<li> <a href=#deletetable>Delete table</a> - this button open Delete table window,</li>
<li> Cell Editor - this button open Cell editor window,</li>
<li> <a href=#newconnection>New connection</a> - this button open New connection window, and creates new connection,</li>
<li> <a href=#editconnection>Edit connection</a> - this button open New connection window, and editing selected connection,</li>
<li> <a href=#deleteconnection>Delete connection</a> - this button open Delete connection window,</li>
<li> <a href=#newconnection>New connection</a> - this button open New connection window, and creates new connection,</li>
<li> <a href=#connectionmanager>Connection manager</a> - this button open Connection manager window,</li>
<li> <a href=#newconnection>New connection</a> - this button open New connection window, and creates new connection,</li>
<!-- TODO: Reszta przycisków -->









	
	
    <!-- Opis CRUD: typy, atrybuty, tabele, połączenia, stany.
        Nie opisujemy: CellEditor -->
		
<h1>Basic CRUD</h1>
In this section you can find almost everything about Create, Read, Update and Delete types, attributes, tables, connections and states in HQEd editor.</br>
<h2 id="types">Types</h2>
Types is a primary thing that you must define in HQEd. Types describing your world in HQEd. You must define types, because next you must create attributes, which must have you defined types.
<h3 id="typemanager">Type manager</h3>
The first step in your first simulation is defining types. You can do this in Type manager which can be found in menu: Types > Type manager...</br>
<img src="img/whereTypeManager.png"/></br>
In this window you have preview on all types in your work. For example if you are creating simulation for calculating price of car insurance, once of your types can be "driverAge".</br>
Types are displayed in rows. In this window you can manage types, editing, creating new, or deleting them.</br>
<!-- TODO: Do czego służy Select -->
<img src="img/typeManager.png"/></br>
If you chose new or edit, there open window "Type Editor"</br>
Meaning of columns will be described in next headers, but there  will not be described ID column. ID is uniqe name from HQEd editor which allows program to referencing to this types. </br>
<h3 id="typeeditor">Type editor</h3>
<img src="img/typeEditor.png"/></br>
<!-- TODO: Presentation...? -->
In this window you must define type name, primitive type based, constraint and optionally type description.</br>
<b>Type name</b> must be unique for all types, and should short describing what this type represent.</br>
<b>Primitive type based</b> can be set to:
<li/> boolean,
<li/> integer,
<li/> numeric,
<li> symbolic.</li>
If you chose boolean you cant chose type of constraints. Attributes of this type can be set in only two states: YES/NO. For example, if we have type driverWearsGlasses, and we have attributes of this type: johnWearsGlasses, you can only chose between YES or NO.</br>
If you chose integer or numeric, you can limit range of this value choosing "Type of constraints: domain". Now you can set length and for numeric, precision of value. For more information about constraints of this types jump to next header.</br>
The last primitive types is symbolic. If you don't limit this type, attributes of this type can take any alphanumeric value. If you want to constraints this type, for example if you want have type carBrand, you can define few car brands, but more about it you can find in the next header.</br>


<h3 id="seteditor">Set editor</h3>
In type editor in domain area you can find button with pencil on blue background "Edit domain". If you click on it, there open "Set editor" window.</br>
<img src="img/seteditor.png"></br>
If you want add new restriction, you must click on "plus" icon.
<!-- WL: przyciski -->
That, what you can do there is related with primitive type, that you set in <a href=#typeeditor>"Type editor"</a> window. If your primitive type is integer or numeric, you can operate on simple mathematical operation like <!-- DOKONCZ -->


<h3 id="valueeditor">Value editor</h3>
Value editor allow you to edit value of the cell.</br>
<img src="img/valueEditor.png"/></br>
In the first drop-down menu you must chose type of value definition. Next you must click on the Select button to chose value. This button opening <a href=#attributemanager>Attribute manager</a>.

<h2	id="attributes">Attributes</h2>
Attributes are your detailed world describer. There you can store states of your values. Everything for attributes you can find in Attributes menu.</br>
Good start point for managing attributes is <a href=#attributemanager>Attribute manager</a>.</br>
<img src="img/whereAttributes.png"/></br>
<h3 id="newattribute">New attribute</h3>
If you chose in Attributes menu New attribute, there will open <a href=#attributeeditor>"Attribute editor"</a> window, where you can define new attribute.</br>
<h3 id="editattribute">Edit attribute</h3>
If you chose in Attributes menu Edit attribute, there will open <a href=#attributeeditor>"Attribute editor"</a> window, where you can edit existing attributes.</br>
<h3 id="attributeeditor">Attribute editor</h3> 
This window allows you to create or edit existing attributes.</br>
<img src="img/attributeEditor.png"/></br>
There you can define that your attribute s global, or is a part of a group. The next field is Attriute name. If you are editing existing attribute, you can chose from drop-down menu Attribute name to edit. If you are creating new attribute, there you must enter there your unique attribute name. Acronym is unique short name of your attribute name, generated by HQEd editor.</br>
Description is optional field, but it is strongly recommender to write in few words better describing your attribute than attribute name.</br>
In attribute relations area you can chose, that your attribute is only field that can be entered from editor (in), that only can be calculated in simulation (out), or can be entered or calculated as needed (inout). <!-- TODO: co to jest state i czy dobrze rozumiem in,out,inout --></br>
In attribute type you can select type of your attribute. You can chose between simple types (boolean, integer, numeric, symbolic) or your <a href=#types>defined types</a>.
<!-- TODO: co to jest Attribute callback i Value multiplicity--></br>
<h3 id="deleteattribute">Delete Attribute</h3>
If you click on the Delete attribute in Attributes menu, you can deleting defined attributes.</br>
<img src="img/deleteAttribute.png"/></br>
You can filtering showed attributes by group. If you select one of them, and click Delete button you remove attribute from project.</br>
<h3 id="unusedattributes">Unused attributes</h3>
If you click on the Unused attributes in Attributes menu, they will open window with list of all attributes that are defined if project, but unused.</br>
<img src="img/unusedAttributes.png">
<h3 id="attributemanager">Attribute manager</h3>
If you click on the Attribute manager in Attributes menu, they will display window with list of attributes.</br>
<img src="img/attributeManager.png"/></br>
In this window you can simple managing your attributes, filtering for display by groups, fast <a href=#editattribute>edit selected attribute</a>, <a href=#newattribute>creating new</a>, or <a href=#deleteattribute>delete</a>.</br>
This window is good start point for managing attributes.</br>
<h3 id="groupmanager">Group manager</h3>
In group manager you can simple edit, create or delete groups. Grouping attributes helps to maintain clarity of content. <!-- Może być totalnie nie zroumiałe to zdanie, czytajcie mocno nakombinowałem przygoogle translate -->
<img src="img/groupManager.png"/></br>
All this buttons and fields should be understandable, so I skip describing content of this window.<!-- WL: [rzeczytajzdanie wczesniej tozrozumiesz --></br>
When you create groups, you can assignt attribute to them in <a href=#attributeeditor>attribute editor</a>.
<h2 id="tables">Tables</h2>
If you have defined <a href=#attributes>attributes</a> you can start designing your tables, which form your logic in project. All you need to start this step you can find in Table menu.</br>
<img src="img/whereTable.png"/></br>
<h3 id="newtable">New table</h3>
If you click on the New table in Table menu, they will display <a href=#tableeditor>Table editor</a> window. There you can create new table. More information you can find in <a href=#tableeditor>Table editor</a> header.
<h3 id="edittable">Edit table</h3>
If you click on the Edit table in Table menu, they will display <a href=#tableeditor>Table editor</a> window. There you can edit existing tables, chosing theirs from drop-down Title menu. More information you can find in <a href=#tableeditor>Table editor</a> header.
<h3 id="tableeditor">Table editor</h3>
This window allows you to creating or editing tables.</br>
First field is a title of table. Title should very short describing content of table. It is strongly recommended to write in to description few more words about table content.</br>
<!-- TODO: table type -->
Columns is main area in this window. All operations are performed on attributes from this section (actions will be defined later). You can add new attribute to table by clicking button with blank page in Columns area, or edit existing attributes by clicking button with pencil on blue background. There you must chose that attribute in this table is input (Conditional) or maybe attribute is calculated in this table (Action). You can sort attributes for get more clarity. More about adding or editing attributes to table, you can find in <a href=#columneditor>Column editor</a> headline.
<img src="img/tableEditor.png"/></br>

<h3 id=columneditor>Column editor</h3>
In column editor you can chose that attribute in table is input (Conditional), or maybe in this table this attribute may have any actions (Action).</br>
<img src="img/columnEditor.png"/></br>
You must select property group to find your attribute.</br>
<h3 id=deletetable>Delete table</h3>
If you want delete any table you must open <i>Table > Delete table</i> menu.</br>
<img src="img/deleteTable.png"/></br>
Titles of tables shortly describes table content, helps to find correct table to delete.</br>

<h2 id=connections>Connections</h2>
You can make connections between tables by two ways:
<li> <i>New connection</i> menu</li>
<li> Drag and Drop table input/output arrows </li>

More user friendly is Drag and Drop method. You must simply drag by mouse arrow from one table and drop it on arrow of other table.</br> Remember, that you cannot connect input with input arrow, and output with output arrow. You can only connect output wit input arrow of different table.</br> Secondly you cannot do loops. Always design your tables, to make flow without looping.</br>
If you want to add label or description to connection, double click on arrow, then will display <a href=#connectioneditor>Connection editor</a>.</br>

<img src="img/tablesExample.png"/></br>
<!-- TODO: jak tobyło z tymi strzałkami, które jak się łączy żeby działałotakanie inaczej? -->

You can make connection between tables also by <i>Connections > <a href=#connectioneditor>New connections</a></i> menu.</br>
<img src="img/whereConnections.png"/></br>

<h3 id=connectioneditor>Connection editor</h3>
In connection editor you can add new connection between tables or edit existing connections. </br>
<img src="img/connectionEditor.png"/></br>
You can chose input table and row and output table and row. You can also add to this connection label and description,but this parameters are optional.</br>

<h3 id="deleteconnection">Delete connection</h3>
To delete connection you can simply select connection in main window of editor, and click delete on keyboard.</br>
In second way you can use <i>Table > Delete table</i> menu.</br>
<img src="img/deleteConnection.png"/></br>
In this window you can chose connection and use button <i>Delete</i>.

<h2 id="editingwindow">Editing window</h2>
In this chapter it is described editing window (on image number 4).
<img src="img/mainWindow.png"/>

<h3 id="expressioneditor">Expression editor</h3>
To open Expression editor you must click right on the cell, that you want to edit and click <i>Full edit</i>.</br> 
<img src="img/whereExpressionEditor.png"/></br>
Expression editor allow you to edit expression in this cell. In the first drop-down menu chose operator type. </br>
<img src="img/expressionEditor.png"/></br>
First row is your left side equation, and second is your right side of equation. In arguments you can edit right side equation by clicking edit button next to the current value of right side equation. This button opening <a href=#valueeditor>Value editor window</a>.</br>


		
    <!-- Opis okien dokowalnych. -->
    <!-- Opis edytora tektowego. -->
    <!-- Opis definiowania plugin-ów. -->
    <!-- Opis trybu ARD. -->
    <!-- Opis okna ustawień.
        Spisać te elementy okna o których nie wiadomo do czego służą (Pomoc KKR). -->

		
